<div class="row">
     <div class="col-lg-4 col-lg-offset-4" >
          <div class="panel panel-default" style="margin-top: 40px;">
               <div class="panel-body">
                    <div>
                         <div class="text-center">
                               <h3><i class="fa fa-lock fa-4x"></i></h3>
                              <h2 class="text-center">Change Password?</h2>
                              <p>You can change your password here.</p>
                         </div>
                        
                         <div class="panel-body">

                              <form ng-hide="success" name="newPassForm" class="form-horizontal" role="form" novalidate ng-submit="newPassForm.$valid && reset()">
                                    <fieldset ng-disabled="progress">
                                        <div class="form-group" ng-show="submitted && newPassForm.passDontMatch">
                                             <div class="alert alert-danger">
                                                {{error}}
                                             </div>
                                           
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': submitted && newPassForm.password.$invalid }">
                                              <label for="password3">Current Password</label>
                                              <input name="password3" id="password3" type="password" class="form-control" ng-model="staff.password3" ng-change="newPassForm.passDontMatch = false" required ng-minlength="8" placeholder="Current Password" autofocus>
                                              <span class="help-block" ng-show="submitted && newPassForm.password3.$error.required">Password is required</span>
                                              <span class="help-block" ng-show="submitted && newPassForm.password3.$error.minlength">Password is too short, it must be atleast 8 characters long</span>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': submitted && newPassForm.password.$invalid }">
                                              <label for="password">New Password</label>
                                              <input name="password" id="password" type="password" class="form-control" ng-model="staff.password" ng-change="newPassForm.passDontMatch = false" required ng-minlength="8" placeholder="Choose new password" autofocus>
                                              <span class="help-block" ng-show="submitted && newPassForm.password.$error.required">Password is required</span>
                                              <span class="help-block" ng-show="submitted && newPassForm.password.$error.minlength">Password is too short, it must be atleast 8 characters long</span>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': submitted && newPassForm.password2.$invalid }">
                                              <label for="password2">Confirm Password</label>
                                              <input name="password2" id="password2" type="password" class="form-control" ng-model="staff.password2" ng-change="newPassForm.passDontMatch = false" required ng-minlength="8" placeholder="Retype to confirm">
                                              <span class="help-block" ng-show="submitted && newPassForm.password2.$error.required">Confirm Password is required</span>
                                              <span class="help-block" ng-show="submitted && newPassForm.password2.$error.minlength">Confirm Password is too short</span>
                                        </div>
                                        <div class="form-group" ng-show="submitted && newPassForm.passDoMatch">
                                              <div class="alert alert-danger">
                                                Please Enter a New Password
                                              </div>
                                        </div>
                                        <div class="form-group psw">
                                              <button class="btn btn-lg btn-primary" type="submit" ng-click="submitted = true">Reset Password</button>
                                              <a href="leads" class="btn btn-lg btn-default">Cancel</a>
                                              
                                        </div>
                                   </fieldset>
                              </form>
                              <div ng-show="success">
                                <div class="alert alert-success">
                                  <h3>Password Changed!</h3>
                                  <p>{{success}}</p>
                                </div>
                                <a class="btn btn-lg btn-primary btn-block" href="signout">Sign In</a>
                              </div>
                          </div>
                          <div class="text-center" ng-show="progress">
                              <i class="fa fa-2x fa-spinner fa-spin"></i>
                          </div>

                    </div>
               </div>
          </div>
     </div>
</div>