<div class="tab-inner-space">
    <h3>Manage Leads</h3>
    <br>
    <div class="table-responsive data-table">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row top-info-panel">
                    <form class="form-inline pagination-search">
                        <div class="col-md-8">
                            <div class="pull-left" style="margin-right: 5px;"><a class="btn btn-primary btn-sm" href="leads/create"><i class="fa fa-plus-square"></i>&nbsp; Create</a></div>
                            <div class="input-group input-group-sm pull-left">
                                <span class="input-group-btn search-items">
									<select ng-model="pagination.searchBy" id="page-searchBy" class="btn btn-default query-attrs" aria-describedby="sizing-addon2">
										<option value="_id">#</option>
                                        <option value="name">Name</option>
										<option value="email">Email</option>
                                        <option value="phone">Phone</option>
										<option value="origin">Origin</option>
										<option value="destination">Destination</option>
										<option value="Source">Source</option>
										<option value="created">Arrived on</option>
									</select>
								</span>
                                <input type="text" ng-enter="pagination.doSearch()" title="Press Enter key to Search" class="form-control input-group-btn"
                                ng-change="pagination.inputResetSearch()" ng-model="pagination.searchQuery" placeholder="Type keyword here..."
                                aria-describedby="sizing-addon1">
                                <span class="input-group-btn search-items">
									<button type="button" class="btn btn-success" ng-click="pagination.doSearch()"><i class="fa fa-search"></i> Search</button>

								</span>
                            </div>
                            <div class="pull-left alert alert-warning pagination-clear-search" ng-show="pagination.isSearched()">
                                <span class="fa fa-info-circle"></span> Clear search by <a href="javascript:;" ng-click="pagination.resetSearch()">clicking here</a>.
                            </div>
                            <div class="pull-left pagination-loader" ng-show="pagination.loading">
                                <span><i class="fa fa-refresh fa-spin"></i></span>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-4 pagination-info">
                        <div class="pull-right">
                            <select ng-change="pagination.onChange()" ng-model="pagination.limit" ng-options="size for size in pagination.pageSizeList"
                            id="pagination-limit" class="form-control input-sm item-per-page">
                            </select>
                        </div>
                        <div class="pull-right pagination-top">
                            <pagination total-items="pagination.total" ng-model="pagination.currentPage" max-size="0" ng-change="pagination.onPageChange()"
                            items-per-page="pagination.limit" class="pagination-sm" boundary-links="false" first-text="&laquo;"
                            last-text="&raquo;" previous-text="&#8249; Prev" next-text="Next &#8250;" rotate="false"></pagination>
                        </div>
                        <div class="pull-right">{{pagination.getInfo()}}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive" ng-show="pagination.hasCount()">
                    <table class="table table-bordered table-striped table-hover listing-table">
                        <thead>
                            <tr>
                                <th class="sort-attribute text-center" ng-class="{'sort-highlight':pagination.hasSortBy( '_id' )}"><a href="javascript:;" ng-click="pagination.sortByAttr( $event, '_id' )">#</a>
                                    <i ng-show="pagination.hasSortBy( '_id' )" class="fa fa-caret-{{pagination.isAsn() ? 'up' : 'down'}}"></i>
                                </th>
                                <th class="sort-attribute">
                                    
                                    <div class="pull-left" ng-class="{'sort-highlight':pagination.hasSortBy( 'name' )}" style="padding:8px">
                                        <i class="fa fa-user"></i>&nbsp; <a href="javascript:;" ng-click="pagination.sortByAttr( $event, 'name' )">Name</a>
                                        <i ng-show="pagination.hasSortBy( 'name' )" class="fa fa-caret-{{pagination.isAsn() ? 'up' : 'down'}}"></i>
                                    </div>

                                    <div class="pull-left" ng-class="{'sort-highlight':pagination.hasSortBy( 'email' )}" style="padding:8px">
                                        <i class="fa fa-envelope-o"></i>&nbsp;<a href="javascript:;" ng-click="pagination.sortByAttr( $event, 'email' )">Email</a>
                                        <i ng-show="pagination.hasSortBy( 'email' )" class="fa fa-caret-{{pagination.isAsn() ? 'up' : 'down'}}"></i>
                                    </div>

                                    <div class="pull-left" ng-class="{'sort-highlight':pagination.hasSortBy( 'phone' )}" style="padding:8px">
                                        <i class="fa fa-phone"></i>&nbsp;<a href="javascript:;" ng-click="pagination.sortByAttr( $event, 'phone' )">Phone</a>
                                        <i ng-show="pagination.hasSortBy( 'phone' )" class="fa fa-caret-{{pagination.isAsn() ? 'up' : 'down'}}"></i>
                                    </div>

                                </th>
                                <th class="sort-attribute">
                                    <div class="pull-left" ng-class="{'sort-highlight':pagination.hasSortBy( 'origin' )}" style="padding:8px">
                                        <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="javascript:;" ng-click="pagination.sortByAttr( $event, 'origin' )">Origin</a>
                                        <i ng-show="pagination.hasSortBy( 'origin' )" class="fa fa-caret-{{pagination.isAsn() ? 'up' : 'down'}}"></i>
                                    </div>
                                    <div class="pull-left" ng-class="{'sort-highlight':pagination.hasSortBy( 'destination' )}" style="padding:8px">
                                        <i class="fa fa-arrow-circle-down"></i>&nbsp;<a href="javascript:;" ng-click="pagination.sortByAttr( $event, 'destination' )">Destination</a>
                                        <i ng-show="pagination.hasSortBy( 'destination' )" class="fa fa-caret-{{pagination.isAsn() ? 'up' : 'down'}}"></i>
                                    </div>
                                </th>
                                <th><i class="fa fa-car"></i>&nbsp;Vehicles</th>
                                <th><i class="fa fa-dollar"></i>&nbsp;Price</th>

                                <th class="sort-attribute text-center" ng-class="{'sort-highlight':pagination.hasSortBy( 'created' )}"> <span class="glyphicon glyphicon-time"></span> <a href="javascript:;" ng-click="pagination.sortByAttr( $event, 'created' )">Arrived on</a>
                                    <i ng-show="pagination.hasSortBy( 'created' )" class="fa fa-caret-{{pagination.isAsn() ? 'up' : 'down'}}"></i>
                                </th>
                                <th> <span class="fa fa-puzzle-piece"></span> Info</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="pagCollection">
                            <tr ng-repeat="lead in leads" ng-class="{ warning: lead.selected }" id="item_{{lead._id}}">
                                <td class="text-center">
                                    <div ng-show="user.isAdmin()">
                                        <input type="checkbox" ng-model="lead.selected" ng-change="toggleAssign( this )" class="checkorder">
                                    </div>
                                    <a href="leads/view/{{lead._id}}/{{page_no}}" ng-click="save()">{{lead._id}}</a>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li ng-show="lead.name"><i class="fa fa-user text-muted"></i>&nbsp;{{lead.name | propercase}}</li>
                                        <li><i class="fa fa-envelope-o text-muted"></i>&nbsp;<a href="mailto:{{lead.email| lowercase}}">{{lead.email | lowercase}}</a></li>
                                        <li ng-show="lead.phone"><i class="fa fa-phone text-muted"></i>&nbsp;<a href="tel:{{lead.phone| tel}}">{{lead.phone | tel }}</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li title="Origin"><i class="fa fa-arrow-circle-right"></i>&nbsp;
                                            <location container="lead.origin"></location>
                                        </li>
                                        <li title="Destination"><i class="fa fa-arrow-circle-down"></i>&nbsp;
                                            <location container="lead.destination"></location>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li ng-repeat="vehicle in lead.vehicles | filter:search | orderBy:'model':true">
                                            {{vehicle.make}} {{vehicle.model}}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <span class="text-danger" ng-show="ddPricing.getTotalPrice(lead.vehicles)">${{ddPricing.getTotalPrice(lead.vehicles) | number}}</span>
                                    <div class="text-warning" ng-hide="ddPricing.getTotalPrice(lead.vehicles)"> <span class="fa fa-question-circle text-highlight"></span></div>
                                </td>

                                <td>
                                    <span uib-tooltip="{{lead.created | date:'MMM d, yyyy h:mm a'}}">{{lead.fromNow}}</span>
                                </td>

                                <td class="text-center">
                                    <span ng-show="user.isAdmin()" tooltip-placement="top" uib-tooltip="{{lead.salesrepName ? lead.salesrepName : 'Unassigned'}}"
                                    ng-class="{'text-muted':!lead.salesrepName, 'text-greenish':lead.salesrepName}"><i class="fa fa-user-md"></i></span>
                                    <span tooltip-placement="top" uib-tooltip="{{lead.source ? lead.source : 'direct-dispatch.com'}}"
                                    ng-class="{'text-greenish':lead.source, 'text-muted':!lead.source}"><i class="fa fa-sitemap"></i></span>
                                </td>

                                <td class="text-center pagination-crud-icons">
                                    <a href="leads/view/{{lead._id}}/{{page_no}}" title="View Details"><span class="glyphicon glyphicon-search"></span></a>
                                    <a href="leads/edit/{{lead._id}}" title="Update"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="javascript:;" ng-click="onDelete(lead._id)" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row ui-sel-options">
                        <div class="col-md-6">
                            <div class="pull-left" ng-show="user.isAdmin()">
                                <img src="/core/img/arrow_ltr.png" alt="" class="arrow-checks">
                                <div class="btn-group" role="group" aria-label="Options">
                                    <button class="btn btn-default btn-sm select-all" title="Select All"><i class="fa fa-check-square-o"></i></button>
                                    <button class="btn btn-default btn-sm select-none" title="Deselect All"><i class="fa fa-square-o"></i></button>
                                    <button class="btn btn-default btn-sm select-random" title="Invert Selection"><i class="fa fa-random"></i></button>
                                </div>
                            </div>
                            <div class="pull-left" style="margin-left: 5px;" ng-show="userRole == 'admin' && selected">
                                <form class="form-inline">

                                    <div class="input-group">
                                        <select class="form-control input-sm" ng-model="salesrepId" style="min-width: 150px">
                                            <option ng-repeat="salesrep in salesreps" value="{{salesrep._id}}">{{salesrep.name}}</option>
                                        </select>
                                        <span class="input-group-btn">
											<button type="button" class="btn btn-success btn-sm" ng-click="assign()"><i class="fa fa-user"></i> Assign</button>
										</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <!-- Pagination -->
                            <div class="text-center empty-pagination pull-right">
                                <pagination total-items="pagination.total" ng-model="pagination.currentPage" max-size="0" ng-change="pagination.onPageChange()"
                                items-per-page="pagination.limit" class="pagination-sm" boundary-links="false" first-text="&laquo;"
                                last-text="&raquo;" previous-text="&#8249; Prev" next-text="Next &#8250;" rotate="false"></pagination>
                            </div>
                            <!-- /Pagination -->
                            <div class="pagination-gotopage bottom pull-right">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon aolabel text-smaller" id="sizing-addon3">Page:</span>
                                    <input class="form-control input-sm pageno" ng-model="pagination.currentPage" value="" placeholder="#">
                                    <span class="input-group-btn pull-left">
										<button class="btn btn-default btn-sm" type="button" ng-click="GotoPage()">Go</button>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12 text-right" style="margin-bottom: 10px;">
                        <ul class="list-unstyled list-inline text-smaller" style="margin-top: 11px;">
                            <li> <span class="fa fa-question-circle text-warning text-highlight"></span> Price Unavailable</li>
                            <li ng-show="user.isAdmin()"> <span class="fa fa-user-md text-greenish"></span> Sales Rep (Assigned)</li>
                            <li ng-show="user.isAdmin()"> <span class="fa fa-user-md text-muted"></span> Sales Rep (Unassigned)</li>
                            <li> <span class="fa fa-sitemap text-greenish"></span> Source (Different)</li>
                            <li> <span class="fa fa-sitemap text-muted"></span> Source (DD)</li>
                            <li><span class="text-danger fa fa-warning"></span> Date Passed</li>
                            <li><span class="text-highlight fa fa-calendar-o" style="border: none"></span> Date Today</li>
                            <li><span class="fa fa-calendar text-greenish"></span> Date Future </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div ng-hide="progress || pagination.hasCount()" class="pagination-no-record">
                    <div class="alert alert-warning alert-no-record" role="alert">
                        No leads found matching this search. Please change the search inputs and try again.
                    </div>
                </div>

                <div ng-show="progress" class="pagination-no-record panel panel-default">
                    <div class="panel-body"><i><i class="fa fa-refresh fa-spin"></i> &nbsp;Loading, please wait...</i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>