body {
	width: 100%;
}
.header {
	text-align: center;
	margin-top: 15px;
}
.footer {
	text-align: center;
	margin: 15px auto;
}


.aguest { background-color:#F2F2F2;  }
.aguest .login-form { margin-top: 50px;  }
