<ol class="breadcrumb optimized">
	<li><a href="dashboard">Home</a></li>
	<li><a href="carriers/{{pageNo}}">Carriers</a></li>
	<li class="active">View Details</li>
</ol>

<div style="margin-bottom: 15px;">
	<a class="btn btn-default btn-sm" href="javascript:;" onclick="history.back()" style="display: inline-block; position: relative; top: -5px;"><i class="fa fa-arrow-left"></i></a>&nbsp;&nbsp;
	<h3 style="display: inline-block">Carrier # {{id}}</h3>
</div>
<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="carriers/view/{{id}}"><i class="fa fa-pie-chart"></i> Overview</a></li>
	<li role="presentation"><a href="carriers/view/{{id}}/user"><i class="fa fa-user"></i> User</a></li>
	<li role="presentation"><a href="carriers/view/{{id}}/company"><i class="fa fa-copyright"></i> Company</a></li>
	<li role="presentation"><a href="carriers/view/{{id}}/docs"><i class="fa fa-file-text-o"></i> Documents</a></li>
	<li role="presentation"><a href="carriers/view/{{id}}/trucks"><i class="fa fa-truck"></i> Trucks</a></li>
	<li role="presentation"><a href="carriers/view/{{id}}/billing"><i class="fa fa-credit-card"></i> Billing</a></li>
</ul>
<div class="row" style="margin-left: 0">
	<table class="table table-bordered" style="margin-top: 20px;max-width: 500px;">
		<tr>
			<td><strong>Registered On</strong></td>
			<td>{{carrier.created | date:'yyyy-MM-dd hh:mm a'}}</td>
		</tr>
		<tr>
			<td><strong>Activated</strong></td>
			<td><span ng-show="carrier.activated">{{carrier.activated | date:'yyyy-MM-dd hh:mm a'}}</span><span ng-hide="carrier.activated"><i class="fa fa-close"></i></span></td>
		</tr>
		<tr ng-hide="carrier.activated">
			<td><strong>Activation Link Sent</strong></td>
			<td><span ng-show="carrier.activationLinkSent">{{carrier.activationLinkSent | date:'yyyy-MM-dd hh:mm a'}}</span><span ng-hide="carrier.activationLinkSent"><i class="fa fa-close"></i></span></td>
		</tr>
		<tr>
			<td><strong>Last Login</strong></td>
			<td><span ng-show="carrier.lastLogin">{{carrier.lastLogin| date:'yyyy-MM-dd hh:mm a'}}</span><span ng-hide="carrier.lastLogin">N/A</span></td>
		</tr>
	</table>
	<button ng-hide="carrier.activated" class="btn btn-default" type="button" ng-click="sendActivationLink()"><i class="fa fa-user"></i> Send Activation Link</button>
	<button class="btn btn-danger" type="button" ng-click="onDelete()"><i class="fa fa-times"></i> Delete Account</button>
	
	<br /><br />
	<div ng-show="progress"><i class="fa fa-2x fa-spinner fa-spin"></i></div>
	<div ng-show="error" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{error}}
	</div>
	<div ng-show="success" class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{success}}
	</div>
</div>
